body{
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}
.nav_words{
color: #222;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 23px; 
letter-spacing: 1px;
text-decoration: none;
}
.search_button{
color: #E0E0E0;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; 
}
.header_text{
color: #444;
font-size: 49px;
font-style: normal;
font-weight: 400;
line-height: 65px;
}
.header_text span{
    color: #2BCA8B;
}
.lower_text_in_header{
color: #444;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 37px;
}
.left_button_in_header{
color: #FFF;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.left_button_in_header span{
font-size: 14px;   
}
.right_button_in_header{
color: #4D4D4D;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.right_button_in_header span{
font-size: 14px;
}
.under_header_text{
color: #2BCA8B;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 39px;
}
.under_header_links{
color: #252061;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
text-decoration: none;   
}
.under_header_links a{
    text-decoration: none;
}
.writers_block_header{
color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.writers_block_under_header{
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.meet_button{
color: #FFF;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.back_vector{
    background-color: #252061;
}
.second_section_header{
color: #444;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 49px;
}
.second_section_header span{
color: #F55F39;
line-height: 43px
}
.article_header_first{
color: #252061;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 38px;
}
.under_header_article_text{
color: #969696;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.person_name{
color: #252061;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.person_name span{
font-size: 13px;
}
.photo_date{
color: #929292;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
}
.article_header_second{
color: #252061;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.article_header_third{
color: #FFF;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.under_third_article_text{
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.visit_blog_link{
color: #F55F39;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px;  
}
.third_section_header{
color: #FFF;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 60px;
}
.under_third_header_text{
color: #FFF;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.button_text{
 color: #FFF;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 23px
}
.button_text span{
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.fourth_section_header{
color: #FFF;
text-align: center;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 49px;
}
.article_upper_text{
color: #183EB6;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.article_upper_text_green{
color: #2BCA8B;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.price_tag{
color: #000;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 34px;
}
.price_tag span{
color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 34px;
}
.article_access_info{
color: #000;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px;    
}
.buy_now_button{
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.under_article_text{
color: #9DA0AC;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 19px;
}
.instan_access{
color: #FFF;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.under_instant_access_text{
color: #FFF;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 21px;
}
.learn_more{
color: rgba(255, 255, 255, 0.80);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.fifth_section_header{
color: #444;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.fifth_section_header span{
color: #2BCA8B;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.under_header{
color: #524B9A;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}
.fifth_section_text{
color: #050505;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.person_name2{
color: #524B9A;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.more_stories_button{
color: #FFF;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.what_kind_photographer{
color: #444;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.what_kind_photographer span{
color: #2BCA8B;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.photographer_kinds h4{
color: #524B9A;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}
.photographer_kinds p{
color: #363636;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.photographer_kinds a{
color: #4163AC;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px;
text-decoration: none;
}
.visit_center_link{
text-decoration: none;
color: #F55F39;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}