*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
button{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
::placeholder{
    font-family: 'Poppins', sans-serif;
}
.nav_words a{
color: #222;
font-size: 12px;
line-height: 23px; 
letter-spacing: 1px;
text-decoration: none;
}
.search_button{
color: #E0E0E0;
font-size: 14px;
line-height: 21px; 
}
.header_text{
color: #444;
font-size: 49px;
line-height: 65px;
}
.header_text span{
    color: #2BCA8B;
    border-bottom: #2BCA8B solid 4px;
}
.lower_text_in_header{
color: #444;
font-size: 19px;
line-height: 37px;
}
.left_button_in_header{
color: #FFF;
font-size: 23px;
line-height: 23px;
}
.left_button_in_header span{
font-size: 14px;   
}
.right_button_in_header{
color: #4D4D4D;
font-size: 23px;
line-height: 23px;
}
.right_button_in_header span{
font-size: 14px;
}
.under_header_text{
color: #2BCA8B;
font-size: 28px;
line-height: 39px;
margin-right: 55px;
}
.under_header_links{
display: flex;
flex-direction: column;
color: #252061;
font-size: 15px;
line-height: 23px;
text-decoration: none;
}
.under_header_links a{
    text-decoration: none;
}
.under_header_links span{
    margin-bottom: 8px;
}
.writers_block_header{
color: #FFF;
font-size: 24px;
line-height: 23px;
}
.writers_block_under_header{
color: #FFF;
font-size: 14px;
line-height: 23px;
}
.meet_button{
color: #FFF;
font-size: 15px;
line-height: 23px;
}
.back_vector{
    background-color: #252061;
}
.second_section_header{
color: #444;
font-size: 52px;
line-height: 49px;
}
.second_section_header span{
color: #F55F39;
line-height: 43px
}
.article_header_first{
color: #252061;
font-size: 30px;
line-height: 38px;
}
.under_header_article_text{
color: #969696;
font-size: 14px;
line-height: 23px;
}
.person_name{
color: #252061;
font-size: 15px;
line-height: 23px;
}
.person_name span{
font-size: 13px;
}
.photo_date{
color: #929292;
font-size: 12px;
line-height: 18px;
}
.article_header_second{
color: #252061;
font-size: 18px;
line-height: 23px;
}
.article_header_third{
color: #FFF;
font-size: 28px;
line-height: 30px;
}
.under_third_article_text{
color: #FFF;
font-size: 14px;
line-height: 23px;
}
.visit_blog_link{
color: #F55F39;
font-size: 14px;
line-height: 23px;  
}
.third_section_header{
color: #FFF;
font-size: 44px;
line-height: 60px;
}
.under_third_header_text{
color: #FFF;
font-size: 15px;
line-height: 23px;
}
.button_text{
 color: #FFF;
font-size: 23px;
line-height: 23px
}
.button_text span{
color: #FFF;
font-size: 14px;
line-height: 23px;
}
.fourth_section_header{
color: #FFF;
text-align: center;
font-size: 52px;
line-height: 49px;
}
.article_upper_text{
color: #183EB6;
font-size: 15px;
line-height: 23px;
}
.article_upper_text_green{
color: #2BCA8B;
font-size: 15px;
line-height: 23px;
}
.price_tag{
color: #000;
font-size: 55px;
line-height: 34px;
}
.price_tag span{
color: #000;
font-size: 14px;
line-height: 34px;
}
.article_access_info{
color: #000;
font-size: 13px;
line-height: 20px;    
}
.buy_now_button{
color: #FFF;
font-size: 14px;
line-height: 23px;
}
.under_article_text{
color: #9DA0AC;
font-size: 11px;
line-height: 19px;
}
.instan_access{
color: #FFF;
font-size: 21px;
line-height: 23px;
}
.under_instant_access_text{
color: #FFF;
font-size: 13px;
line-height: 21px;
}
.learn_more{
color: rgba(255, 255, 255, 0.80);
text-align: center;
font-size: 14px;
line-height: 23px;
}
.fifth_section_header{
color: #444;
font-size: 28px;
line-height: 30px;
}
.fifth_section_header span{
color: #2BCA8B;
}
.under_header{
color: #524B9A;
font-size: 18px;
line-height: 25px;
}
.fifth_section_text{
color: #050505;
font-size: 13px;
line-height: 23px;
}
.person_name2{
color: #524B9A;
font-size: 13px;
line-height: 23px;
}
.more_stories_button{
color: #FFF;
font-size: 15px;
line-height: 23px;
}
.what_kind_photographer{
color: #444;
font-size: 28px;
line-height: 30px;
}
.what_kind_photographer span{
color: #2BCA8B;
}
.photographer_kinds h4{
color: #524B9A;
font-size: 20px;
line-height: 25px;
}
.photographer_kinds p{
color: #363636;
font-size: 15px;
line-height: 23px;
}
.photographer_kinds a{
color: #4163AC;
font-size: 14px;
line-height: 23px;
text-decoration: none;
}
.visit_center_link{
text-decoration: none;
color: #F55F39;
font-size: 15px;
line-height: 23px;
}
.over_header{
color: #444;
text-align: center;
font-size: 24px;
line-height: 49px;
}
.sixth_section_header{
color: #444;
text-align: center;
font-size: 52px;
line-height: 49px;
}
input::placeholder{
color: #E0E0E0;
font-size: 14px;
line-height: 21px;
}
.resource_plan h3{
color: #252061;
font-size: 17px;
line-height: 23px;
}
.resource_plan span{
color: #F55F39;
font-size: 12px;
line-height: 23px;
}
.resource_plan button{
color: #252061;
font-size: 11px;
line-height: 23px;
}
.footer_text{
color: #FFF;
font-size: 15px;
line-height: 25px;
}
.footer_bar h3{
color: #FFF;
font-size: 18px;
line-height: 25px;
}
.footer_bar ul li a{
text-decoration: none;
color: #ABA8CA;
font-size: 14px;
line-height: 21px;
}
.footer_copyright{
color: #FFF;
font-size: 12px;
line-height: 25px;
}
.footer_copyright span{
    color: #F55F39;
}
.nav_bar{
    display: flex;
    height: 80px;
    justify-content: space-between;
}
.top_header{
    display: inline inline-block;
    background-color: #FFF;
    padding:0 105px;
}
.nav_words{
    height: 80px;
    width: 525px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.search_menu{
    display: flex;
}
.search_menu img{
    margin-top: 20px;
    height: 40px;
    width: 250px;
    position: relative;
    left: 60px;
}
.search_menu input{
    margin-top: 20px;
    height: 38px;
    width: 200px;
    border: none;
    outline: none;
    position: relative;
    right: 140px;
    bottom: -1px;
}
.search_menu button{
    color: #E0E0E0;
    font-size: 14px;
    line-height: 21px;
    background-color: #B8BDC9;
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border: none;
    position: absolute;
    right: 105px;
}
 .search_button:active{
    background-color: #F55F39;
}
.main_block{
    height: 700px;
    background-image: url("../img/jpg/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main_text{
    display: flex;
    width: 610px;
    height: 370px;
    margin-left: 250px;
    padding-top: 165px;
    flex-direction: column;
    justify-content: space-between;
}
.left_button_in_header{
    display: flex;
    width: 210px;
    height: 60px;
    background-color: #F55F39;
    border: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.left_button_in_header:active{
    background-color: #FFF;
    color: #4D4D4D;
}
.right_button_in_header{
    width: 210px;
    height: 60px;
    background-color: #FFF;
    border: none;
}
.right_button_in_header:active{
    background-color: #F55F39;
    color: #FFF;
}
.button_container button{
margin-right: 15px;
}
.button_container{
    display: flex;
}
.under_main_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 425px;
    height: 225px;
    margin-left: 210px;

}
.person_block{
    background-image: url("../img/Vector.png");
    background-color: #252061;
    width: 600px;
    height: 305px;
    padding-top: 35px;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 80px;
}
.person_block div{
    display: flex;
    flex-direction: row;
}
.writers_block_under_header{
    width: 300px;
    height: 70px;
    margin-top: 35px;
}
img.person_one {
    position: relative;
    right: -99px;
}
img.person_two {
    position: relative;
    right: 125px;
    top: 12.5px;
    z-index: 1;
}
img.person_three {
    position: relative;
    right: 340px;
}
.person_block button{
    z-index: 1;
    width: 145px;
    height: 45px;
    background-color: #2BCA8B;
    border: none;
    position: relative;
    top: 40px;
    right: 283px;
}
.person_block button:active{
    background-color: #F55F39;
}
.under_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}